<!DOCTYPE html>
<html lang="en">
<title>{{ site.title }} | {{ page.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=Righteous&display=swap" rel="stylesheet">

    <script>
  $('a[href^="#"]').on('click', function(event) {
    var target = $(this.getAttribute('href'));
    if( target.length ) {
        event.preventDefault();
        $('html, body').stop().animate({
            scrollTop: target.offset().top
        }, 1000);
    }
});
</script>
<style>
    html {
        scroll-behavior: smooth;
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
    .monospace{
        font-family: 'DM Mono', monospace;
    }
    .cursive{
        font-family: 'Righteous', cursive;
    }
</style>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% assign mypages = site.pages | sort: "order" %}
       {% for page in mypages %}
       <a href="{{ page.url | absolute_url }}"class="w3-bar-item w3-button w3-padding-large w3-white scrolllink">{{ page.title }}</a>
       {% endfor %}
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href="#features" class="w3-bar-item w3-button w3-padding-large">Features</a>
    <a href="#roms" class="w3-bar-item w3-button w3-padding-large">Roms</a>
    <a href="#flash" class="w3-bar-item w3-button w3-padding-large">Flashing</a>
    <a href="#download" class="w3-bar-item w3-button w3-padding-large">Download</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo w3-animate-zoom cursive">TheTablaster's Blog</h1>
  <p class="w3-xlarge w3-animate-left monospace">“This is a blog where thoughts are expressed in words, expressions come alive and creativity reaches its peak.”</p>
  <!--<button class="w3-ripple w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->
</header>

<!-- First Grid -->
<div id ='about' class="w3-row-padding w3-padding-64 w3-container w3-animate-bottom">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 name="about" class ="cursive">{{ page.title }}</h1>
      <h5 class="w3-padding-32 monospace">{{ page.author }} {{ page.date | date_to_long_string }}</h5>
      <h5 class="w3-padding-32 monospace">{{ content }}</h5>

      <hr>

      <div class="comments"></div>





<!-- Footer -->
<footer class="w3-container">
  <div class="">
    <h3>Leave a comment</h3>

<!--<form id="comment">
  <label for="message">Message</label>
  <textarea id="message"></textarea>

  <label for="name">Name</label>
  <input type="text" id="name">

  <label for="email">Email</label>
  <input type="text" id="email">

  <input type="submit" value="Post Comment">-->
  <!--<form class="w3-container" id="comment">

    <label for="message">Message</label>
    <input class="w3-input w3-border" type="text"  id="message">

    <label for="name">Name</label>
    <input class="w3-input w3-border" type="text" id="name">

    <label for="email">Email</label>
    <input class="w3-input w3-border" type="text" id="email">

    <input type="submit" value="Post Comment">


</form>-->
</div>
<body>
   <div class="container">
    <div class="comment-box">
      <div class="comment-form">
        <div class="header">Add Your Comment</div>
        <form>
          <div>
            <input type="text" id="name" placeholder="Name"/>
          </div>
          <div>
            <textarea id="comment" rows="3" cols="30" placeholder="Comment"></textarea>
          </div>
          <button type="submit">COMMENT</button>
        </form>
      </div>
      <div>
        <h4 class="header">Comments</h4>
        <div id="comments"></div>
      </div>
      <div class="footer"><hr><p>&copy 2016 by Josh Bivens</p></div>
    </div>
  </div>
</body>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>
<script src="js/md5.js"></script>
<script src="//unpkg.com/timeago.js"></script>
<script src="https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.js"></script>
<script src="fire-comments.min.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAKfGjLgZREdjQKSMlFUs9k09ji-5ujAKo",
    authDomain: "comments-43385.firebaseapp.com",
    databaseURL: "https://comments-43385.firebaseio.com",
    projectId: "comments-43385",
    storageBucket: "comments-43385.appspot.com",
    messagingSenderId: "197205141464",
    appId: "1:197205141464:web:ecf18dff5ab58104fff4ad",
    measurementId: "G-HSL00H5GQD"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<!-- Paste your Firebase code here !>-->

</body>
</html>
